nav {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  min-height: 10vh;
  background: rgba(153, 73, 7, 0.911);
  color: white;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.signin-picture {
  float: left;
  height: 100%;
  width: 50%;
  margin-top: 50px;
}
.signin-form {
  float: right;
  width: 50%;
}
.findResturant-picture {
  display: flex;
  height: 100%;
  width: 100%;
}
