.app {
  background-color: coral;
}
.image {
  width: 95%;
  height: 10%;
  margin-left: 2rem;
}
.images {
  display: flex;
  width: 50%;
  height: 10%;
  margin-left: 5rem;
}
.restro {
  background-color: white;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.text {
  align-items: center;
  text-align: left;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1rem;
  margin-top: 10px;
  color: chocolate;
}
.text li {
  list-style: none;
  text-transform: capitalize;
}

.features {
  text-align: right;
  justify-content: right;
  color: chocolate;
  font-size: 20px;
  font-weight: bolder;
}

.review {
  margin-top: 1rem;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background-position: unset;
  color: chocolate;
}

.rev {
  display: inline-flex;
  font-size: 25px;
  font-family: serif;
  line-height: 25px;
  font-weight: bold;
  margin-top: -1rem;
}
.rev > div p {
  text-align: center;
  margin-left: 1rem;
}
.rev > div {
  font-size: 25px;
  font-weight: bold;
  margin-left: 1rem;
}
.revHead {
  display: inline-flex;
  text-align: center;
  margin-left: 3rem;
  margin-top: 2rem;
}
.revHead p {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 1rem;
}
.menu {
  text-align: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 2rem;
  line-height: 50px;
}
.menuImage {
  width: 90%;
}
.getRev {
  background-color: wheat;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 20px rgb(71, 71, 71);
  border-radius: 20px;
  margin: 20px;
}
.getReviews {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
  line-height: 10px;
}
.getReviews li {
  list-style: none;
}

.menuList {
  background-color: wheat;
  justify-content: space-around;
  display: flex;

  flex-direction: row;
  box-shadow: 0px 2px 20px rgb(71, 71, 71);
  border-radius: 20px;
  margin: 20px;
}
.menuList li {
  list-style: none;
}
.getMenuList {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.title {
  text-align: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

.commaList {
  display: flex;
  text-transform: capitalize;
}
.commaList li {
  display: inline;
  font-stretch: extra-expanded;
}

.gallery {
  margin-bottom: 1rem;
}
.imag {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-left: 1rem;
}
